<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PrototypeProjects.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A58C260C1C496A58005D1E48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A58C26201C496A58005D1E48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A58C262B1C496A58005D1E48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
